{% extends "page.html" %}

{% block content %}
{% include "partials/actions.html" %}

{% set slug = page.url | trim('/') | split('/') | last %}

{%
set source_slug = page.meta.source | lower
| replace(' ', '-') | replace('ñ', 'n')
| replace('á', 'a') | replace('é', 'e') | replace('í', 'i')
| replace('ó', 'o') | replace('ú', 'u') | replace('ü', 'u')
%}

<h1 id="{{slug}}">{{ page.title | d(config.site_name, true)}}</h1>

<p>
    <img alt="{{page.title}}" src="{{ ('img/fotos/' ~ slug ~ '.webp') | url }}">
</p>

<p class="page-metadata">
    <span>
        <span class="twemoji">
            {% include ".icons/fontawesome/solid/people-group.svg" %}
        </span> {{page.meta.people}}
    </span>

    <span>
        <span class="twemoji">
            {% include ".icons/fontawesome/regular/clock.svg" %}
        </span> {{page.meta.time}}
    </span>

    <span>
        <span class="twemoji">
            {% include ".icons/fontawesome/solid/calendar-days.svg" %}
        </span> {{page.meta.date}}
    </span>

    {% if page.meta.source %}
    <span>
        <span class="twemoji">
            {% include ".icons/fontawesome/solid/newspaper.svg" %}
        </span>
        <a href="{{ ('fuentes#' ~ source_slug) | url }}">
            {{page.meta.source}}
        </a>
    </span>
    {% endif %}
</p>

{{ page.content }}

{% include "partials/tags.html" %}
{% include "partials/source-file.html" %}
{% include "partials/feedback.html" %}
{% include "partials/comments.html" %}
{% endblock %}
