{% extends "base.html" %}

{% block extrahead %}
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{{ 'assets/images/apple-touch-icon.png' | url }}">
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{{ 'assets/images/favicon-32x32.png' | url }}">
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{{ 'assets/images/favicon-16x16.png' | url }}">
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}">

    <script>
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("/sw.js");

                window.addEventListener("appinstalled", async () => {
                    const reg = await navigator.serviceWorker.ready;
                    reg.active.postMessage({ type: "PRECACHE" });
                });
        }
    </script>
{% endblock %}

{% block site_nav %}
    {% if nav %}
        {% if page.meta and page.meta.hide %}
            {% set hidden = "hidden" if "navigation" in page.meta.hide %}
        {% endif %}
        <div class="md-sidebar md-sidebar--primary"
             data-md-component="sidebar"
             data-md-type="navigation"
             {{ hidden }}>
            <div class="md-sidebar__scrollwrap">
                <div class="md-sidebar__inner">{% include "partials/nav.html" %}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}
